:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --header-background-color: #171920;
    --header-background-right-color: #444750;
}

.dark-mode {
    --bg-color: #181818;
    --text-color: #ffffff;
    --header-background-color: #171920;
    --header-background-right-color: #444750;
}


header {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: auto;
    width: 100vw;
}

.header-container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    margin: 2vw 0 0;
    width: 100vw;
    height: 100%;
    background-color: var(--header-background-color);
}

.header-text {
    position: relative;
    top: 0;
    left: 0;
    width: 33%;
    margin-top: 20px;
    padding-left: 2vw;
    font-size: 4vw;
    font-weight: bold;
}

.header-decor-right {
    position: relative;
    display: block;
    top: 0;
    right: 0;
    width: 66%;
    height: 100%;
}

.header-background-right {
    position: absolute;
    top: -2vw;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--header-background-right-color);
}

.header-image {
    position: relative;
    display: block;
    top: 0;
    left: 2vw;
    height: auto;
    margin-top: 2vw;
}

.header-image img {
    position: relative;
    right: 0;
    display: block;
    width: calc(100% - 2vw);
    height: auto;
}

@media (max-width: 768px) {
    header{
        width: 100%;
    }

    .header-container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .header-text {
        width: 100%;
        margin-top: 10px;
        text-align: center;
        padding: 0;
    }

    .header-background {
        position: relative;
        width: 100%;
        height: auto;
    }

    .header-decor-right {
        position: relative;
        width: 100%;
        height: auto;

    }

    .header-image {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .header-image img {
        width: 100%;
        height: auto; 
    }
}
